/* List view */
.list-view .content {                 /* Используем CSS flexbox styles */
  display: flex;
}
.list-view .contact-grid {            /* две колонки под таблицу */
  flex: 2;
}
.list-view .contact-form {
  flex: 1;                            /* одна колонка под форму редактирования */
  /* padding: var(--lumo-space-m);       /* стандартные отступы */
}
@media all and (max-width: 1100px) {  /* скрываем панель и таблицу на узких экранах */
  .list-view.editing .toolbar,
  .list-view.editing .contact-grid {
    display: none;
  }
}